.navbar-brand {
    font-size: 30px;
}

.navbar-nav {
    font-size: 30px;
}

.navbar-nav>li {
    padding-left:30px;
}

body {
    font-family: 'Open Sans Condensed';
    font-size: 24px;
}

h1 {
    font-size: 64px;
}

img {
    border:10px solid rgb(157, 214, 247);
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

.title{
    font-family: 'Fjalla One';
    font-size:80px;
    color:rgb(129, 195, 233);
}